{% extends 'commonplace/index.html' %}

{% block extrahead %}
  {{ css('mkt/commbadge') }}
  {{ js('mkt/commbadge') }}
{% endblock %}

{% set title = _('Communication Dashboard') %}
{% block title %}
  {{ hub_page_title(title, addon) }}
{% endblock %}

{% block header %}
  {{ super() }}
  {% include 'developers/nav.html' %}
  <div class="account-links-wrapper">
    <div class="account-links">
      {% include 'mkt/account-links.html' %}
    </div>
  </div>
{% endblock %}

{% block page_header %}
  <header>
    {{ hub_breadcrumbs(addon, items=[(None, title)]) }}
    <h1>{{ title }}</h1>
  </header>
  {% include 'developers/includes/addons_edit_nav.html' %}
{% endblock %}
