{% set urls = [
  (addon.get_stats_url(action='overview'), _('Overview')),
  (addon.get_stats_url(action='installs'), _('Installs')),
] %}

{% set sales_filters = [
    (addon.get_stats_url(action='revenue'), _('Amount Earned')),
    (addon.get_stats_url(action='sales'), _('Units Sold')),
    (addon.get_stats_url(action='refunds'), _('Units Refunded'))
] %}

<section class="secondary">
  <div class="report-menu" id="side-nav">
    <ul>
      {% for link, title in urls %}
        <li{% if url_quote(request.path) == link %} class="selected active"{% endif %}>
          <a href="{{ link }}">{{ title }}</a></li>
      {% endfor %}

      {% if check_contrib_stats_perms(addon) %}
        {% block sales_filters %}
          {% for link, title in sales_filters %}
            <li{% if url_quote(request.path) == link %} class="selected active"{% endif %}>
              <a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
        {% endblock %}
      {% endif %}
    </ul>
  </div>
</section>
