{% extends "impala/base_shared.html" %}

{% block extrahead %}
  {{ css('zamboni/personasrq') }}
{% endblock %}

{% block title %}
  Theme Review Queue
{% endblock %}

{% block content %}

<h1>Theme Review Queue</h1>

<div class="sidebar"><div class="float">
  <form class="box options">
    <h2>Review Options</h2>
    <fieldset>
      <select id="rq-category">
        <option>All Categories</option>
        <option>Abstract</option>
        <option>Causes</option>
        <option>Fashion</option>
        <option>Film and TV</option>
        <option>Firefox</option>
        <option>Foxkeh</option>
        <option>Holiday</option>
        <option>Music</option>
        <option>Nature</option>
        <option>Scenery</option>
        <option>Solid</option>
        <option>Sports</option>
        <option>Websites</option>
        <option>Other</option>
      </select>
    </fieldset>

<!--
    <fieldset>
      <div class="option">
        <input type="radio" id="rq-previews" name="rq-show" value="previews" />
        <label for="rq-previews">Show previews only</label>
      </div>
      <div class="option">
        <input type="radio" id="rq-details" name="rq-show" value="details" checked="checked" />
        <label for="rq-details">Show all details</label>
      </div>
    </fieldset>
-->

    <fieldset>
      <div class="option">
        <input type="checkbox" id="rq-advance" value="advance" checked="checked" />
        <label for="rq-advance">Auto-advance after review</label>
      </div>
<!--
      <div class="option">
        <input type="checkbox" id="rq-single" value="single" checked="checked" />
        <label for="rq-single">Show a single Theme</label>
      </div>
      <div class="option">
        <input type="checkbox" id="rq-shortcuts" value="shortcuts" checked="checked" />
        <label for="rq-shortcuts">Enable keyboard shortcuts</label>
      </div>
-->
    </fieldset>
  </form>

  <div class="box shortcuts">
    <h2>Keyboard Shortcuts</h2>
    <ul>
      <li><strong>J</strong> <span>Next Theme</span></li>
      <li><strong>K</strong> <span>Previous Theme</span></li>
      <li class="divider"></li>
      <li><strong>A</strong> <span>Approve</span></li>
      <li><strong>R</strong> <span>Reject</span></li>
      <li><strong>D</strong> <span>Duplicate</span></li>
      <li><strong>F</strong> <span>Flag</span></li>
      <li><strong>M</strong> <span>Request More Info</span></li>
    </ul>
  </div>
</div></div>

<div class="persona-queue details single">
  <form method="post">
    {{ csrf() }}
    {% for persona, form in persona_formset %}
      <div class="persona" data-id="{{ persona.persona_id }}"><div class="persona-inner">
        <h3><a href="#">{{ persona.addon.name }}</a></h3>
        <div class="status">Reviewed</div>
        <ul class="meta">
          <li><strong>Submitted: </strong>{{ persona.addon.created.strftime('%Y-%m-%d') }}</li>
          <li><strong>Artist: </strong><a href="#">{{ persona.author }}</a></li>
          <li><strong>Category: </strong><a href="#">{{ persona.addon.categories.all()[0] if persona.addon.categories.all() }}</a></li>
          <li><a href="#">{{ persona.license }}</a></li>
        </ul>

        <div class="preview">
          <img src="{{ persona.header_url }}" width="1250" height="100" />
        </div>
        <div class="header zoombox">
          <img src="{{ persona.header_url }}" width="2500" height="200" />
        </div>
        <div class="footer zoombox">
          <img src="{{ persona.footer_url }}" width="2500" height="100" />
        </div>

        <div class="desc"><strong>Description: </strong>{{ persona.addon.description }}</div>

        <div class="choices">
          {{ form }}
          <div class="group">
            <button data-id="{{ persona.persona_id }}">Request More Info  &#9662;</button>
          </div>
          <div class="group">
            <button data-id="{{ persona.persona_id }}">Duplicate &#9662;</button>
            <button data-id="{{ persona.persona_id }}">Flag &#9662;</button>
            <button data-id="{{ persona.persona_id }}">Reject &#9662;</button>
          </div>
          <div class="group">
            <button data-id="{{ persona.persona_id }}">Approve</button>
          </div>
        </div>
        <div class="c"></div>
      </div></div>
    {% endfor %}
  </form>
</div>
{% endblock %}

{% block js %}
  {{ js('zamboni/personasrq') }}
{% endblock %}
