{% from 'includes/forms.html' import required %}

{% for persona, form in persona_formsets %}
  <div class="persona"><div class="persona-inner">
    {{ form }}
    <h3><a href="{{ persona.addon.get_detail_url() }}">{{ persona.addon.name }}</a></h3>
    <div class="status"></div>
    <ul class="meta">
      <li><strong>{{ _('Artist') }}</strong>: {{ persona.author }}</li>
      <li><strong>{{ _('Category') }}</strong>:
        {% for category in persona.addon.categories.all() %}
          <a href="{{ url('browse.personas', category.name) }}">{{ category.name }}</a>
        {% endfor %}
      </li>
      <li><strong>{{ _('Submitted') }}</strong>: {{ persona.addon.created.strftime('%Y-%m-%d') }}</li>
    </ul>
    <ul class="meta">
      <li class="license"><strong>{{ _('License') }}</strong>: {{ license_link(persona.license) }}</li>
    </ul>

    <div class="preview">
      <img src="{{ persona.header_url }}" width="1250" height="100">
    </div>
    <div class="header zoombox">
      <img src="{{ persona.header_url }}" width="2500" height="200">
    </div>
    <div class="footer zoombox">
      <img src="{{ persona.footer_url }}" width="2500" height="100">
    </div>

    {% if persona.addon.description %}
      <div class="desc"><strong>{{ _('Description') }}: </strong>{{ persona.addon.description }}</div>
    {% endif %}

    {% if max_locks > 0 %}
      <a class="history" href="{{ url('personasrq.single', persona.addon.slug) }}">{{ _('Review History') }}</a>
    {% endif %}

    {% if reviewable %}
      <div class="choices">
        <div class="group">
          <button class="moreinfo">{{ _('Request More Info') }} &#9662;</button>
        </div>
        <div class="group">
          <button class="flag">{{ _('Flag') }} &#9662;</button>
          <button class="duplicate">{{ _('Duplicate') }} &#9662;</button>
          <button class="reject">{{ _('Reject') }} &#9662;</button>
        </div>
        <div class="group">
          <button class="approve">{{ _('Approve') }}</button>
        </div>
      </div>

      <div class="c"></div>

      <div class="duplicate-dropdown rq-dropdown">
        <span>{{ _('Enter the ID or URL of the duplicate') }}:</span>
        <textarea></textarea>
        <strong class="error-required">{{ required() }} {{ _('Field required') }}</strong>
        <button>{{ _('Continue') }}</button>
      </div>
      <div class="reject-reason-dropdown rq-dropdown">
        <span>{{ _('Select a reason for rejection') }}:</span>
        <ul>
          {% for reject_id, val in reject_reasons %}
            <li class="reject_reason" data-id="{{ reject_id }}">
              <strong>{{ reject_id }}</strong>
              <span>{{ val }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="reject-reason-detail-dropdown rq-dropdown">
        <span>{{ _('Describe your reason for rejection') }}:</span>
        <textarea></textarea>
        <strong class="error-required">{{ required() }} {{ _('Field required') }}</strong>
        <button>{{ _('Continue') }}</button>
      </div>
      <div class="moreinfo-dropdown rq-dropdown">
        <span>{{ _('Ask a question to the artist') }}:</span>
        <textarea></textarea>
        <strong class="error-required">{{ required() }} {{ _('Field required') }}</strong>
        <button>{{ _('Continue') }}</button>
      </div>
      <div class="flag-dropdown rq-dropdown">
        <span>{{ _('Describe your reason for flagging') }}:</span>
        <textarea></textarea>
        <strong class="error-required">{{ required() }} {{ _('Field required') }}</strong>
        <button>{{ _('Continue') }}</button>
      </div>
    {% endif %}

  </div></div>
{% endfor %}
