{% block content %}
Thanks for submitting your Theme {{ persona.addon.name }}!

We're big fans of creativity, and it's fun to see how people are dressing up their browsers.

Once it gets automatically copied up to the live server, you'll be able to view
it at {{ persona.addon.get_detail_url()|absolutify(base_url) }}

You can also check it out shortly in the Gallery at http://www.getpersonas.com/en-US/gallery/All/Recent

If you have any questions or want more information, please stop by the forum at
https://forums.mozilla.org/addons/viewforum.php?f=30 and tell us what's on your mind.

Best Wishes,
The Marketplace Team

{% endblock %}
